.page {
  height: 100%;
  max-height: auto;
  max-width: 100%;
  padding: 100px;
  display: flex;
  flex-direction: column;
  margin: 0;
  overflow: hidden;
}

.form {
  padding: 10px;
  padding-left: 0;
  max-width: 328px;
}

.field {
  margin-bottom: 20px;
  display: flex;
  gap: 30px;
  justify-content: space-between;
}

input {
  padding: 10px 12px;
  width: 180px;
  height: 40px;
  border: 1px solid #cccccc;
  border-radius: 5px;
}

.button {
  padding: 8px 20px;
  width: 150px;
  text-decoration: none;
  color: #000000;
  background-color: #efefef;
  border: 1px solid #000000;
  border-radius: 5px;
}

.button:hover {
  background-color: #bfbfbf;
}

.buttons {
  margin-top: 50px;
  display: flex;
  gap: 20px;
}

.error {
  color: rgb(249, 119, 141);
}